@use "styles/vendor/_normalize.scss";
@use "styles/partials/_colors.scss";


.navhead{
  background-color: colors.$primary-color;
   padding: 1em;
}

ul button a{
  background-color: colors.$secondary-color;
}
.sidebar{
background-color:white;
align-items: center;

}
aside{
background-color: colors.$bg-darker;

}body {
  background-color: $bg-dark;
  color: $color-primary;
}

h1, h2, h3 {
  color: $color-secondary;
}




.birdbox{
background-color:darkgreen;
margin:10m;
padding:1em;
gap: 0.5em;
display:flex;
flex-direction: column;
justify-content: center;
flex-flow:column wrap;
align-items: center;


}

.birdbox div {
  background-color: lighten($dark-bg, 10%);
  color: $white;
  padding: 0.5em 1em;
  border-radius: 5px;
  width: 80%;
  text-align: center;}

.sparrow .goldfinch .grosbeak .bluejay{
  color:white;
  padding:1em;
  width:50px;
  height:50px;


}

.sparrow{
background-color:lightgray;}

.goldfinch{
background-color:gold;}

.grosbeak{
background-color:black;}

.bluejay{
background-color:blue;}


h1 {
 color: $secondary-font-color;
  font-size: 1.5em;
  margin: 0.5em 0;
    }

button {
background-color: transparent;
border: 1px solid $secondary-font-color;
border-radius: 5px;
padding: 0.5em 1em;
cursor: pointer;
}

a {
  text-decoration: none;
  color: $white;
      }

    

h2 {
  text-align: center;
  color: $secondary-font-color;
  margin-top: 1.5em;
}

p {
  text-align: center;
  margin: 0 auto 1em auto;
  width: 90%;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em auto;
  text-align: center;
  color: $white;

  img {
    border: 3px solid $secondary-font-color;
    border-radius: 10px;
  }

  figcaption {
    margin-top: 0.5em;
    font-style: italic;
  }
}


@media (min-width: 1024px) {
  h1 {
    font-size: 4em;
  }

 
  .navhead nav ul {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
  }

  /
  main,
  .birdbox,
  .about-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
  }

  
  .birdbox {
    flex-wrap: wrap;

    div {
      flex: 1;
      min-width: 200px;
      max-width: 300px;
    }
  }

 
  aside {
    flex: 1;
    max-width: 400px;
  }

  .post,
  .sidebar {
    flex: 1;
  }
}

.featured{
display:grid;
grid-template-rows: 70px 1fr 50px;
gap: 10px;
background-color: purple

}

.featured-members{
display:grid;
grid-template-columns: 150px 1fr;
gap:10px;
background-color: plum;

}

.president{
  grid-column:1 / -1;
  background-color: violet;
  display:grid;
}
