

body{
    font-display:block;
    font-family: Arial, sans-serif;
	align-items: center;
    
    background-color: white;
}
h1{
    font-size: 40px;
   
 

}


nav{ 
   
    font-size: 70px;
    
    list-style: none;
    gap: 40px;
    display: flex;
	
}
nav li a h1{
  text-decoration: none;
  font-weight: bold;
  align-items: center; 
  padding: 1rem;
	
	
}

button{
   
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
   

}

img{
    float:center;


}

figcaption{ float:center;
    font-size: 15px;
    font-style: italic;
}

aside{
     width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: left;
  font-style: italic;
  background-color: rgb(74, 47, 0);
  
}

footer{ color: rg