@use "vendors/normalize";
@use "partials/colors";



.navhead{
  background-color: colors.$primary-color;
}

ul button a{
  background-color: colors.$secondary-color;
}

aside{
background-color: colors.$bg-darker;

}body {
  background-color: $bg-dark;
  color: $color-primary;
}

h1, h2, h3 {
  color: $color-secondary;
}

